* {
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	background-color: #FBF8FB;
}

.container {
}

.navbar {
	display: flex;
	justify-content: space-between;
	background-color: white;	
	border: 1px solid #EFEFEE;
}

.navbar__element {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 20px 40px;
}

.navbar__element--profile {
	border-left: 1px solid #EFEFEE;
}

.navbar__img {
	width: 50px;
	margin-right: 16px;
}

.navbar__img--avatar {
	border-radius: 50%;
}

.navbar__text {
	color: #9E999C;
}