* {
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	background-color: #FBF8FB;
}

.container {
	font-family: 'Asap', sans-serif;
	color: #292728;
}

.navbar {
	display: flex;
	justify-content: space-between;
	background-color: white;	
	border: 1px solid #EFEFEE;
}

.navbar__item {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 20px 40px;
}

.navbar__item--profile {
	border-left: 1px solid #EFEFEE;
}

.navbar__img {
	width: 50px;
	margin-right: 16px;
}

.navbar__img--avatar {
	border-radius: 50%;
}

.navbar__text {
	color: #9E999C;
}

.content {
	max-width: 800px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px; 
}

.header__title {
	font-weight: normal;
}

.header__title--main {
	font-size: 40px;
	margin-bottom: 20px;
}

.header__title--secondary {
	color: #B4B4B4;
	
}