* {
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	background-color: #FBF8FB;
}

.container {
	font-family: 'Asap', sans-serif;
	color: #292728;
}

.navbar {
	display: flex;
	justify-content: space-between;
	background-color: white;	
	border: 1px solid #EFEFEE;
}

.navbar__item {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 20px 40px;
}

.navbar__item--profile {
	border-left: 1px solid #EFEFEE;
}

.navbar__img {
	width: 50px;
	margin-right: 16px;
	position:relative ;
}

.navbar__img img {
	width: 50px;
	
}

.navbar__img--avatar img {
	border-radius: 50%;
}

.navbar__text {
	color: #9E999C;
}

.navbar__notification {
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	color: white;
	text-align: center;
	vertical-align: middle;
	line-height: 24px;
	background-color: #026AD1;
	right: 0px;
	bottom: -8px;
}

.content {
	max-width: 800px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px; 
}

.header__title {
	font-weight: normal;
}

.header__title--main {
	font-size: 40px;
	margin-bottom: 20px;
}

.header__title--secondary {
	color: #B4B4B4;
}

.card {
	display: flex;
	align-items: center;
	background-color: white;
	border: 1px solid #EFEFEE;
	border-radius: 10px;
	padding: 20px 40px;
	margin-bottom: 20px;
}

.card__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	margin-right: 20px;
	border-radius: 50%;
	background-color: #E5EFF5;
}

.card__logo img {
	width: 50px;
}

.card__logo--responsive {
	background-color: #FEE0DF;
}

.card__content {
	font-weight: normal;
}

.card__title {
	font-size: 32px;
	margin-bottom: 4px;
}

.card__description {
	color: #B4B4B4;
	margin-top: 4px;
}

@media(max-width: 600px){


	.navbar {
		display: flex;
		justify-content: space-between;
		flex-direction: column-reverse;
	}

	.navbar_item {
		padding-top: 20px;
		padding-bottom: 20px;
	}


	.header {
		text-align: center;
	}
	.card {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;

	}

	.card__logo {
		margin-bottom: 20px;
	}

	.card__title {
		margin-top: 0;
	}
}